/*General*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f6faff;
  color: #333;
}

/*Header*/
header {
  background-color: #007bff;
  padding: 10px 0;
}
nav {
  display: flex;
  align-items: center; /* sejajarkan vertikal */
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-left {
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-right: 10px;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0 15px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
/*welcome section*/
.welcome {
  text-align: center;
  padding: 60px 20px;
  background-color: #eaf3ff;
  background-image: url(https://picsum.photos/300/200?random=1);
  background-size: cover;
}
/*headquarter section*/
.headquarter {
  text-align: center;
  padding: 40px 20px;
}
.city-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #007bff;
  margin: 0 auto 10px;
}
.circle,
.jakarta,
.bandung,
.surabaya {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-right: 10px;
  cursor: pointer;
}

/*message section*/
.message {
  text-align: center;
  padding: 50px 20px;
  background-color: #eaf3ff;
}
.message-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: #0056b3;
}
.result-box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 300px;
  border-radius: 5px;
}

/*Footer*/
footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

/*responsif*/
@media (max-width: 768px) {
  .message-container {
    flex-direction: column;
    align-items: center;
  }
  .result-box,
  form {
    width: 90%;
  }
}
